<div class="h-full main-hero">
  <div class="h-full container mx-auto flex items-center justify-center">
    <.link
      navigate={~p"/auth/google"}
      class="bg-red-500 hover:bg-red-600 text-white font-bold py-4 px-8 rounded-full"
    >
      Login
    </.link>
  </div>
</div>
